<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Projeto Django para mostrar filmes cadastrados" />
    {% load static %}
    <title>{% block titulo %}Filmes{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />

    <link rel="stylesheet" href="{% static 'filmes/css/style.css' %}">

    <!-- Google Fonts -->
    <link rel="stylesheet" id="googlefonts-css"
        href="http://fonts.googleapis.com/css?family=Lato%3A100%2C300%2C400%2C600%2C700%2C900%7CRaleway%3A900%7CPlayfair+Display%7C%27+rel%3D%27stylesheet%27+type%3D%27text%2Fcss"
        type="text/css" media="all" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900&#038;subset=latin"
        type="text/css" media="all" />
</head>

<body>
    <!-- Header -->
    <header>
        <nav class="navbar">
            <h4 class="text_uppercase">Filmes</h4>
        </nav>
    </header>

    <main>
        {% block conteudo %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="copyright text-center">
                    © 2025 Lista de Filmes em Django. Todos os Direitos reservados.
                </div>
            </div>
        </div>
    </footer>
</body>
</html>